<mat-card class="Main-input">
  <form (ngSubmit)="onSubmit(title, date, description)">
    <mat-form-field appearance="fill" style="width: 68%">
      <mat-label>Task name</mat-label>
      <input matInput name="title" [(ngModel)]="model.title" #title='ngModel' required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 30%; margin-left: 2%">
      <mat-label>Choose a deadline date</mat-label>
      <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="model.date" #date='ngModel'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Task description</mat-label>
      <textarea matInput name="description" [(ngModel)]="model.description" #description='ngModel'></textarea>
    </mat-form-field>
    <button type="submit" mat-flat-button style="width: 100%; border: 1px solid rgb(142,142,142)">Create task</button>
  </form>
</mat-card>
