<mat-card class="Main-input">
  <form (ngSubmit)="onSubmit(title, selected, date, description)">
    <mat-form-field appearance="fill" style="width: 60%">
      <mat-label>Task name</mat-label>
      <input matInput name="title" [(ngModel)]="model.title" #title='ngModel' required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 13%; margin-left: 1%">
      <mat-label>Priority</mat-label>
      <mat-select required [formControl]="selected" [(ngModel)]="model.priority" [(value)]="model.priority">
        <mat-option value="low">Low</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 25%; margin-left: 1%">
      <mat-label>Choose a deadline date</mat-label>
      <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="model.date" #date='ngModel' [matDatepickerFilter]="dateFilter">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Task description</mat-label>
      <textarea matInput name="description" [(ngModel)]="model.description" #description='ngModel'></textarea>
    </mat-form-field>
    <button type="submit" mat-flat-button style="width: 100%; border: 1px solid rgb(142,142,142)">Create task</button>
  </form>
</mat-card>
